[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
  path = ~/.bin/dotfiles/.gitconfig_local
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
	acm = !git add -A && git commit -m
	st = status
  l = "!. ~/.bin/dotfiles/.githelpers && pretty_git_log"
  r = !GIT_NO_PAGER=1 git l -30
	gdlog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  close = "!. gitclose"
  cm = "!. gitclose main"
  co = "checkout"
[pull]
	rebase = false
[core]
	pager = diff-so-fancy | less --tabs=5 -RFX
	excludesfile = ~/.bin/dotfiles/.gitignore_global
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager-core
	helper = !/opt/homebrew/Cellar/openjdk/17.0.2/libexec/openjdk.jdk/Contents/Home/bin/java -Ddebug=false -Djava.net.useSystemProxies=true -jar /opt/homebrew/Cellar/git-credential-manager/2.0.4_2/libexec/git-credential-manager-2.0.4.jar
[credential "https://dev.azure.com"]
	useHttpPath = true
[interactive]
	diffFilter = diff-so-fancy --patch
[init]
	defaultBranch = main
